body{
    font-family: 'Roboto', sans-serif;
}
.about-donate-people{
    background-image:url(images/donation7.jpg)
   }
.about-donate {
	padding-top: 90px;
	height: 430px;
}
.about-donate h1 {
	font-size: 40px;
	text-align: center;
	color:#FF8C00;
	line-height: 24px;
}
.about-donate h3 {
	font-size: 16px;
	font-weight: 8;
	text-align: center;
	color:#FF8C00;
	line-height: 10px;
}
.link-button {
	text-decoration: none;
	font-size: 22px;
	padding: 10px 10px;
	color: white;
	background-color: #FF5959;
	border-radius: 5px;
}
.click-here {
	text-align: center;
	line-height: 90px;
}
.donate-choice {
	padding-top: 34px;
}
.donate-choice h1 {
	text-align: center;
	font-size: 26px;
}
.donate-choice h3 {
	text-align: center;
	font-size: 16px;
	font-weight: 8;
	line-height: 10px;
	color: #A1A1A1;
}
.chose-options {
	display: flex;
	padding-left: 26%;
}
.donate-options {
	padding: 30px;
}
.donate-options h1 {
	color: #707070;
	padding: 20px 10px;
	background-color: #E3DCFF;
	border-radius: 8px;
}
.color {
	padding: 28px;
}
.color h1 {
	color: #FF5959;
	background-color: #FFEEEE;
	padding: 20px 10px;
	border: 3px solid red;
	border-radius: 8px;
}
.another-options {
}
.another-options h2 {
	text-align: center;
	color: #A1A1A1;
	font-size: 26px;
	font-weight: 3;
	line-height: 10px;
}
.border {
	border-bottom: 2px solid #A1A1A1;
	margin-left: 25%;
	margin-right: 25%;
}
.about-donate-plan {
	padding-top: 50px;
}
.donate-plan{}
.donate-plan h1 {
	text-align: center;
	font-size: 32px;
	color: #121212;
}
.donate-plan h3 {
	text-align: center;
	line-height: 10px;
	font-weight: 3;
	font-size: 16px;
	color: #A3A1A1;
}
.human-rights {
	display: flex;
	padding-left: 14%;
	padding-top: 10px;
}
.f-s-e {
	padding: 40px;
	margin: 16px;
}
.f-s-e h1 {
	font-size: 20px;
}
.f-s-e h3 {
	font-size: 16px;
	font-weight: 6;
	color: #A3A1A1;
	line-height: 8px;
}
.skyblue{
	background-color:#EDF5F6;
}
.rosy{
	background-color: #FFEEEE;
}
.blue{
	background-color:#FFF4D6;
}
.help-their {
	display: flex;
	padding-top: 10%;
	padding-left: 15%;
	padding-right: 15%;
}
.half-width{
	width: 50%;
}
.half-width img {
	width: 450px;
}
.half-width h1 {
	font-size: 30px;
	line-height: 10px;
	color: #1D1D1D;
}
.half-width h3 {
	font-size: 18px;
	color: #A3A1A1;
	line-height: 8px;
	font-weight: 4;
}
.for-padding {
	padding-top: 2px;
}
.button-style {
	padding-top: 22px;
}
.my-update {
	padding-top: 50px;
	padding-bottom: 30px;
}
.Your-address{
	text-align: center;
}
.Your-address input {
	padding: 12px;
	width: 250px;
	font-size: 18px;
	color: #A3A1AC;
	background-color: #737373;
	border-radius: 5px;
	margin-top: 90px;
}
.Your-address button {
	background-color: coral;
	width: 136px;
	height: 48px;
	margin-left: -8px;
	font-size: 20px;
	color: darkblue;
	border-radius: 5px;
}
.bg-color {
	background-color: bisque;
	height: 206px;
	margin-left: 18%;
	margin-right: 18%;
}